body
{
	background-image : url(../img/fond.jpg);
	table-layout: 
}
table 
{
	border: medium solid #cd9575;
	border-collapse: collapse;
	width: 50%;
}
th
{
	font-family: monospace;
	border: thin solid #cd9575;
	width: 50%;
	padding: 5px;
	background-color: #9e9e9e ;
	background-image: url(sky.jpg);
}
td
{
	font-family: sans-serif;
	border: thin solid #cd9575;
	width: 50%;
	padding: 5px;
	text-align: center;
	background-color: #dddddd ;
}
caption
{
	font-family: sans-serif;
}